# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ coverageBadge ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v1
      - name: Install PHP
        uses: shivammathur/setup-php@master
        with:
           php-version: '8.0'
      - name: Install dependencies
        run: composer install
      - name: Run tests
      run: |
        vendor/bin/phpunit --coverage-clover clover.xml
        
      - name: phpunit-coverage-badge
        # You may pin to the exact commit or the version.
        # uses: timkrase/phpunit-coverage-badge@29e63a46fd2b558fadefaa1699c6aa5892bd5791
        uses: timkrase/phpunit-coverage-badge@v1.2.0

